<!DOCTYPE html>
<html>
<head>
    <title>Tambah Mahasiswa</title>
</head>
<body>
    <h1>Tambah Mahasiswa</h1>
    <form method="post">
        Nama: <input type="text" name="nama"><br>
        NPM: <input type="text" name="npm"><br>
        Jurusan: <input type="text" name="jurusan"><br>
        Kelas: <input type="text" name="fakultas"><br>
        Fakultas: <input type="text" name="fakultas"><br>
        <input type="submit" value="Simpan">
    </form>
    <a href="{{ url_for('index') }}">Kembali</a>
</body>
</html>
